.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #eaeaea;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
}
